name: Publish

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish Package
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create dist directory
        run: mkdir ./dist

      - name: Copy static files
        run: cp -r ./package.json ./js -t ./dist/

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y autopoint

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: 24

      - name: Setup emscripten
        uses: mymindstorm/setup-emsdk@v12

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2

      - name: Build sed
        uses: ./.github/actions/build-sed

      - name: Build gawk
        uses: ./.github/actions/build-gawk

      - name: Build kalign
        uses: ./.github/actions/build-kalign

      - name: Build clustalw
        uses: ./.github/actions/build-clustalw

      - name: Build raxml
        uses: ./.github/actions/build-raxml

      - name: Build fasttree
        uses: ./.github/actions/build-fasttree

      - name: Build aster
        uses: ./.github/actions/build-aster

      - name: Build seqtk
        uses: ./.github/actions/build-seqtk

      - name: Build bedtools
        uses: ./.github/actions/build-bedtools

      - name: Build gffread
        uses: ./.github/actions/build-gffread

      - name: Build quicktree
        uses: ./.github/actions/build-quicktree

      - name: Build vcftools
        uses: ./.github/actions/build-vcftools

      - name: Build lastz
        uses: ./.github/actions/build-lastz

      - name: Build htslib
        uses: ./.github/actions/build-htslib

      - name: Build samtools
        uses: ./.github/actions/build-samtools

      - name: Build bcftools
        uses: ./.github/actions/build-bcftools

      - name: Build wasm.js
        working-directory: dist/wasm
        run: ls **/*.js | sed 's/.js//' | awk "{print \"export { default as '\"\$0\"' } from '../wasm/\"\$0\".js';\" }" > ../js/wasm.js

      - name: Publish package to npm
        working-directory: dist
        run: npm publish --provenance

      - name: Create github release
        run: |
          TAG=v$(node -p "require('./package.json').version")
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag $TAG
          git push origin $TAG
          gh release create $TAG --title $TAG --generate-notes --repo $GITHUB_REPOSITORY
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
